accelerate
stable-baselines[mpi]
gymnasium
gymnasium[classic-control]
shimmy
gputil
pygame
matplotlib
python-dotenv
pandas
seaborn
spikingjelly
pyarrow
torch
torchvision
tensorboard
transformers
d3rlpy
ray[rllib]